<section id="about" class="uk-section uk-section-primary">
    <div class="uk-text-center">
        <img src="https://avatars.githubusercontent.com/u/16124544?v=4" class="uk-border-circle">
        <div class="uk-text-large uk-text-bold">Vanessa</div><br/>
        <div>I'm a QA engineer :)</div>
        <a href="https://github.com/vksilva/"><span uk-icon="github"></span></a>
        <a href="https://www.linkedin.com/in/vanessa-oliveira-qa/"><span uk-icon="linkedin"></span></a>
        <a href="mailto:vanessa@vksilva.com"><span uk-icon="mail"></span></a>
    </div>
</section>